@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  padding: 18px 30px;
  border: none;
  border-radius: 10px;
  background-color: #ffd200;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
  color: #333333;
}

.section-title {
  max-width: 500px;
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
}

.section-notification {
  font-size: 15px;
  line-height: 24px;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
  border: 1px solid #ffd200;
}

.move-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.move-top__button {
  display: none;
  max-width: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.move-top__button_none {
  display: block;
}

.move-top__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.move-top__button:focus {
  outline: none;
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

div.invalid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: red;
}

input.invalid {
  border: 1px solid red;
}

#offer-username-error {
  display: block;
  margin-top: -20px;
}

#offer-phone-error {
  display: block;
  margin-top: -20px;
  margin-bottom: 10px;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-size: 13px;
  color: #333333;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__phone {
  margin-top: 8px;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.navbar__button {
  margin-left: 30px;
}

.hero {
  padding: 48px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 10px;
  color: #333333;
}

.hero-text__title {
  margin-bottom: 38px;
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  margin-bottom: 67px;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__item:nth-child(2) {
  margin-bottom: 22px;
}

.hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
  max-width: 250px;
}

.hero-image {
  padding-left: 10px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.offer {
  position: relative;
  padding-top: 57px;
  background: url("../img/offer/offer-bg.jpg") no-repeat;
  background-position: center right;
  background-size: contain;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  text-align: left;
}

.offer__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 21px;
}

.offer__input {
  margin: 10px 0;
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__notification {
  max-width: 230px;
  margin-top: 24px;
}

.offer__notification:last-child {
  padding-right: 10px;
}

.offer__phone {
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 15px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 20px;
  font-weight: 900;
}

.modal-dialog__input {
  width: 80%;
  margin-bottom: 10px;
}

.portfolio {
  padding-top: 89px;
  padding-bottom: 95px;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 96px;
  max-width: 790px;
  font-size: 30px;
  line-height: 44px;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.price__title {
  margin: auto;
  margin-bottom: 47px;
  max-width: 515px;
  font-size: 30px;
  line-height: 46px;
}

.price__subtitle {
  display: block;
  margin-bottom: 59px;
  text-align: center;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
}

.card__text {
  padding: 37px 54px 45px 58px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__img {
  display: block;
}

.card__link {
  position: relative;
  display: inline-block;
  padding-right: 5px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  margin-bottom: -4px;
  z-index: -1;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  position: relative;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
}

.step:after {
  content: '';
  position: absolute;
  top: -10px;
  right: -15%;
  width: 72px;
  height: 25px;
  background: url("../img/steps/arrow.png") no-repeat center;
}

.step:last-child:after {
  display: none;
}

.step__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  border-radius: 50%;
}

.step__text {
  max-width: 160px;
  margin: auto;
  font-size: 15px;
  line-height: 20px;
}

.steps {
  padding-top: 32px;
  padding-bottom: 76px;
}

.steps__title {
  margin: auto;
  margin-bottom: 49px;
  max-width: 655px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  display: block;
  margin-bottom: 69px;
  text-align: center;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #ffc000;
  padding-top: 55px;
  padding-bottom: 61px;
}

.promo__text {
  font-size: 32px;
  line-height: 50px;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.excellence {
  padding-top: 100px;
}

.excellence-card {
  position: relative;
}

.excellence-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.excellence__text {
  position: absolute;
  width: 100%;
  max-width: 308px;
  font-size: 16px;
  line-height: 23px;
  padding-top: 22px;
  padding-left: 26px;
}

.guarantee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.guarantee:nth-child(2) {
  margin: 0 31px;
}

.guarantee__image {
  margin-bottom: 38px;
}

.guarantee__text {
  width: 100%;
  max-width: 290px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.guarantees {
  padding-top: 38px;
  padding-bottom: 227px;
}

.guarantees__title {
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 91px;
  max-width: 650px;
  line-height: 46px;
}

.guarantees-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brif {
  padding-top: 78px;
  padding-bottom: 72px;
  background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 214px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin: 7px 0;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 24px;
  margin-bottom: 31px;
}

.interview {
  padding-right: 60px;
}

.interview__title {
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 31px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview__subtitle {
  display: block;
  margin-bottom: 95px;
  font-size: 16px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 27px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__item:nth-child(2) {
  margin-bottom: 28px;
}

.interview-list__item:nth-child(3) {
  margin-bottom: 35px;
}

.interview-list__counter {
  display: inline-block;
  margin-right: 32px;
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  border: 2px solid #333333;
  border-radius: 50%;
}

.interview-list__text {
  font-size: 18px;
  max-width: 390px;
}

.form__title {
  padding-left: 5px;
  margin-bottom: 46px;
  margin-top: 19px;
  line-height: 32px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  display: block;
  margin-bottom: 42px;
  font-size: 16px;
}

.form__description {
  display: block;
  font-size: 15px;
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 640px;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 69px;
  padding-left: 213px;
}

.contacts__title {
  margin-bottom: 91px;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  margin-right: 20px;
  margin-top: 7px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.contacts-list__text {
  line-height: 25px;
  width: 150px;
}

.contacts-list__text a {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 22px;
  }
}

@media (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
}

@media (max-width: 400px) {
  .navbar {
    padding: 14px 0;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 15px 26px;
    font-size: 10px;
    border-radius: 7px;
  }
  .navbar__logo {
    margin-top: 3px;
    width: 90px;
  }
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-list__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 10px;
  }
  .hero-list__image {
    max-height: 40px;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
  }
  .hero-list__text {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-image {
    padding-left: 0;
    padding-right: 5px;
  }
  .hero-text {
    padding-right: 0;
  }
  .hero-text__title {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 27px;
  }
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 38px;
  }
  .hero-list__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .hero-list__item:nth-child(2) {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 200px;
    line-height: 15px;
    padding-top: 6px;
  }
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-size: 16px;
  }
}

@media (max-width: 930px) {
  .offer__button {
    padding: 0 60px;
  }
}

@media (max-width: 810px) {
  .offer__button {
    padding: 18px 30px;
  }
  .offer__notification {
    max-width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 35px 0;
  }
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 19px;
  }
  .offer__subtitle {
    font-size: 14px;
    margin-bottom: 17px;
  }
  .offer__notification {
    margin-top: 23px;
    max-width: 50%;
  }
}

@media (max-width: 390px) {
  .offer__button {
    font-size: 14px;
  }
  .offer__notification {
    max-width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 354px) {
  .offer {
    padding-bottom: 51px;
  }
  .offer__input:first-child {
    margin-bottom: -2px;
  }
  .offer__button {
    padding: 0 60px;
  }
  .offer__notification {
    max-width: 100%;
    width: 250px;
    padding-left: 5px;
  }
  .offer__notification:first-child {
    margin-top: 21px;
    margin-bottom: -3px;
  }
}

@media (max-width: 1200px) {
  .portfolio {
    padding-top: 41px;
    padding-bottom: 60px;
  }
  .portfolio__title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 35px;
  }
  .portfolio__arrows {
    margin-top: 47px;
  }
}

@media (max-width: 768px) {
  .portfolio__title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 321px) {
  .slider__image {
    height: 186px;
    margin-left: 13px;
  }
}

@media (max-width: 1200px) {
  .card {
    margin-left: 15px;
    margin-right: 15px;
  }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .price {
    padding-bottom: 0;
  }
  .price__title {
    margin-top: 13px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .price__subtitle {
    margin-bottom: 60px;
    margin-right: 18px;
    font-size: 14px;
  }
  .card {
    margin-right: 3px;
    margin-left: 0;
  }
  .card__text {
    padding: 27px 24px 33px 26px;
  }
  .card__title {
    margin-bottom: 13px;
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .step__image {
    margin-bottom: 24px;
  }
  .step__text {
    font-size: 12px;
    line-height: 16px;
  }
  .steps {
    padding-top: 23px;
    padding-bottom: 49px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 22px;
  }
  .steps__subtitle {
    margin-bottom: 33px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .promo {
    padding-bottom: 59px;
  }
  .promo__text {
    margin-top: 36px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 1200px) {
  .excellence {
    padding-top: 20px;
  }
  .excellence__card {
    margin-right: 10px;
  }
  .excellence__card:last-child {
    margin-right: 0;
  }
}

@media (max-width: 940px) {
  .excellence__text {
    padding-top: 19px;
    padding-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 768px) {
  .excellence__card {
    margin-top: 32px;
    margin-bottom: -5px;
    margin-right: 0px;
  }
  .excellence__card:nth-child(2) {
    margin-bottom: -10px;
  }
  .excellence__text {
    font-size: 12px;
    max-width: 230px;
  }
  .excellence-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 940px) {
  .guarantee {
    margin-right: 10px;
  }
  .guarantee:last-child {
    margin-right: 0;
  }
  .guarantee__text {
    font-size: 14px;
    line-height: 17px;
  }
  .guarantees__title {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .guarantee:nth-child(2) {
    margin: 0;
  }
  .guarantee__image {
    margin-bottom: 28px;
  }
  .guarantees {
    padding-top: 42px;
    padding-bottom: 44px;
  }
  .guarantees__title {
    padding: 0 28px;
    margin-bottom: 50px;
    line-height: 21px;
  }
  .guarantees-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guarantee__text {
    margin-bottom: 44px;
    padding: 0 17px;
  }
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .interview__subtitle {
    margin-bottom: 40px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 280px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 55px;
  }
  .form__subtitle {
    margin-bottom: 45px;
  }
  #offer-username-error {
    display: block;
    margin-top: 0;
  }
  #offer-phone-error {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .brif {
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: left center, center right;
    background-size: 50%, cover;
    background-repeat: repeat-y, no-repeat;
  }
}

@media (max-width: 770px) {
  .brif {
    padding-top: 25px;
    padding-bottom: 32px;
    background-image: url("../img/brif/brif-color-bg.jpg"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 50% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif__input {
    margin: 4px 0;
  }
  .brif__button {
    margin-top: 7px;
    margin-bottom: 24px;
    font-size: 14px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    padding: 0 3px;
    padding-top: 180px;
  }
  .interview {
    padding: 0;
    padding-bottom: 31px;
  }
  .interview__title {
    margin-bottom: 16px;
    padding-right: 20px;
    font-size: 18px;
    line-height: 21px;
  }
  .interview__subtitle {
    width: 100%;
    max-width: 190px;
    margin-bottom: 38px;
    font-size: 14px;
  }
  .interview-list__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 28px;
  }
  .interview-list__item:nth-child(2) {
    margin-bottom: 22px;
  }
  .interview-list__item:nth-child(3) {
    margin-bottom: 25px;
  }
  .interview-list__counter {
    margin-right: 8px;
  }
  .interview-list__text {
    max-width: 235px;
    font-size: 13.7px;
  }
  .form {
    padding: 0;
  }
  .form__title {
    margin: 0;
    margin-top: 63px;
    min-width: 277px;
    padding-bottom: 20px;
    padding-left: 0;
    font-size: 18px;
    line-height: 26px;
  }
  .form__subtitle {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 26px;
  }
  .form__description {
    display: inline-block;
    width: 140px;
    font-size: 13.9px;
    line-height: 25px;
  }
}

@media (max-width: 1050px) {
  .contacts {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map {
    position: relative;
    width: 100%;
  }
  .contacts {
    padding-left: 0;
    padding-top: 67px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contacts__title {
    margin-bottom: 39px;
    text-align: center;
  }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 425px) {
  .contacts {
    padding-left: 0;
    padding-top: 45px;
  }
  .contacts__title {
    margin-bottom: 32px;
    font-size: 18px;
    text-align: left;
    line-height: 21px;
  }
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts-list__item {
    margin-bottom: 31px;
  }
  .contacts-list__icon {
    margin-right: 12px;
  }
  .map {
    margin-top: 12px;
  }
}
/*# sourceMappingURL=style.css.map */